.profileIconContainer {
//    background: red;
    display: inline-block;
    text-align: center;
    width: 100%;

    .profileLinkContainer {

        display: inline;
        height: 58px;

        .profileIcon {
            border-radius: 50%;
            height:45px; 
            width: 45px;
            margin-top: 5px;
        }
    
        span {
            line-height: 58px;
            padding-left: 6px;
            font-size: 12px;
            color: rgb(230, 230, 230);
        }

    }
    

    &:hover {
        background: rgb(55, 58, 61);
        // cursor: pointer;
    }
    
}