@import "../scss-general-modules/whole-dir_scss.module";

.userContainer {
    margin-top: 20px;

    font-size: 24px;
    color: white;

    input {
        @extend .dark-input-field;
        width: 50%;
    }

    .allUsers {
        margin-top: 20px;
    }
    
}

.listContainer {
    // background: red;
    // text-align: left;

    margin: 10px 0;
    border: 1px solid $golden-login-border-color;
    padding: 20px;
    text-align: left;
    width: 97%;

    .username {
        @extend .sanson-font-style;
        font-size: 24px;
        padding-left: 20px;
    }

    

    img {
        width: 50%;
        border-radius: 50%;
    }

    .userSection {
        margin: auto;
    }

    .formSection {
        text-align: center;
        margin: auto;
    }

    .submitSection {
        text-align: center;
        margin: auto;
    }
}

label {
    padding-right: 20px;
}