.dark-input-field {
  @include border-radius(0);

  color: white;
  background-color: $dark-input-field-bg-color;

  padding: 7px 10px;
  width: 100%;

  border: 2px solid $login-input-border-inactive;

  &:hover {
    border-color: $login-input-border-active;
  }

  &:focus {
    outline: none;
    border-color: $golden-login-border-color;
    // background-color: $dark-input-field-bg-color-active;
  }

  @include transition(border-color 0.2s ease-in); 
  
}
