@import "../scss-general-modules/whole-dir_scss.module";

.bg {
    background: $dark-bg-login url('../../assets/images/login-bg-blended.png') no-repeat center top;
    min-height: 720px;
}


.formArea {
    text-align: center;

    .brandImage {
        margin-top: 50px;
        width: 240px;
        height: 100px;
        overflow: auto;
    }

    .boxWrapper {

        margin-top: 100px;
        margin-bottom: 100px;
        width: 100%;
        text-align: left;
        border: 2px solid $golden-login-border-color;
        background-color: $dark-bg-login;
        padding: 25px 20px;


        .backButtonIcon {
            color: white;
            font-size: 24px;
            margin-bottom: 20px;

            @include transition(color 0.2s ease-in);

            &:hover {
                cursor: pointer;
                color: $golden-login-border-color;
            }
        }   


        .signInLabel {
            @extend .sanson-font-style;
            // font-family: 'Sanson', 'Bebas', sans-serif;
            letter-spacing: 0.05rem;
            word-spacing: -0.1rem;
            margin-bottom: 30px;
            // padding-bottom: 20px;
            font-size: 2rem;
            color: white;
        }

        .forgotInfo {
            font-size: 12px;
            color: $less-golden-login-border-color;
        }

        .formStyle {
            
        
            .inputField {
                @extend .dark-input-field;
            }

            .formLabel {
                margin-top: 30px;
                display: block;
                color: $golden-login-border-color;
                font-size: 12px;
            }

            .errorLabel {
                color: red;
                // margin-bottom: 30px;
            }
    
            .buttonWrapper {
                display: block;
                text-align: center;
                margin-top: 40px;
                margin-bottom: 20px;

                // outline: none;

                .btnSignIn {
                    @extend .general-submit-button;
                    width: 50%;
                    // outline: none;
                }
            }
            
        
        }

    }
}

.checkBox {

    span label {
        font-size: 12px;
        color: $less-golden-login-border-color;
        @include transition(color 0.2s ease-in);

        input {
            vertical-align: middle;
            margin-right: 4px;
        }

        &:hover {
            cursor:pointer;
            color: $golden-login-border-color;
        }

    }

}

.helpSection {

    padding: 0;

    .right {
        // background: red;
        text-align: right;
    }

    p {
        // padding: 0;
        display: block;
        font-size:12px;
        margin: 0;
        color: $less-golden-login-border-color;
        @include transition(color 0.2s ease-in);

        &:hover {
            cursor:pointer;
            color: $golden-login-border-color;
        }
    }
}


// bootstrap breakpoints

@media (min-width: 0px) {

    .helpSection div div.right {
        // background: red;
        text-align: left;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .helpSection div div.right {
        // background: red;
        text-align: right;
    }
}


// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

    .formArea {
        max-width: 500px;
    }
}
