@import "../scss-general-modules/whole-dir_scss.module";

.profilePageContainer {
    color: white;

    p {
    }

    .iconAndId {

        text-align: center;
        .userId {
            padding-bottom: 5px;
            border-bottom: 1px solid $golden-login-border-color;
            @extend .sanson-font-style;
            // font-family: 'Sanson', 'Bebas', sans-serif;
            letter-spacing: 0.05rem;
            word-spacing: -0.1rem;
            margin-bottom: 30px;
            // padding-bottom: 20px;
            font-size: 2rem;
            color: white;
        }

        .profileIcon {
            border-radius: 50%;
            height: 100px; 
            width: 100px;
            margin-top: 17px;
        }
    }

    
}

