@import "../scss-general-modules/whole-dir_scss.module";

.welcomeSection {
    background-image: url('../../assets/images/shadow-lol-bg.jpg');
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
    min-height: 400px;
    // margin: auto;
    text-align: center;
    padding: 50px;

    .welcomingHeader {
        color: white;
        // margin-top: 40px;
    }

    .welcomeVideo {
        margin-top: 40px;
        width: 50%;
        height: 400px;
    }

    .signUpHeader {
        margin-top: 40px;
        color: white;
        margin-bottom: 40px;
    }

    .loginButton {
        text-decoration: none;
        padding: 20px;
        // margin-top: 40px;
        background: $header-footer-background-color;
        border: 1px solid $golden-login-border-color;
        // border: 0;
        color: white;
        font-size: 24px;
        @extend .sanson-font-style;
        @include transition(border-color 0.2s ease-in);

        &:hover {
            cursor: pointer;
            border-color: $signin-button-border-color;
        }
    }
}