$dark-bg-login: #00030b;
// $dark-bg-login: rgb(0, 3, 11);


$light-bg-login: #796450;

$golden-login-border-color: #af9c4a;
$less-golden-login-border-color: #a4a4a0;



$dark-input-field-bg-color: #1a1b1c;
$dark-input-field-bg-color-active: #2d2f31; 

$login-input-border-inactive: #4a4013;
$login-input-border-active: #6b5e1f;


$signin-button-border-color: #067773;
