@import "../scss-general-modules/whole-dir_scss.module";

.teamInfo {
    text-align: left;
    border: 2px solid #534f4f;

    // ------- Testing font choice -------------
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    letter-spacing: 0.01rem;
    word-spacing: -0.1rem;
    font-size: 20px;
    // -----------------------------------------

    .teamIcon {
        border-radius: 50%;
        height: 90px; 
        width: 90px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .teamName {
        margin: auto;
    }
    
    // .numTeamsParticipating {
    //     color: red;
    // }r

    .rankImageStyles {
        margin: auto;
        text-align: center;
        img {
            width: 50px;
        }
    }

    .detailButton {
        margin: auto;
    }
}