
// @import '../../scss-general-modules/whole-dir_scss.module.scss';
@import '../scss-general-modules/whole-dir_scss.module.scss';
.bottomNavBar    {

    flex-direction: row-reverse;
    background: $header-sidenav-footer-bg-color;
    min-height: 4rem;
    // background: red;
    // text-align: right;

    .navLink {
        margin: 0 20px;
        display: inline;
        text-decoration: none;
        // color: white;
        // background: red;
        .iconStyle {
            color: rgb(180, 180, 180);
            font-size: 18px;

            @include transition(color 0.2s ease-in);

            &:hover {
                color: white;
            }
        }
    }
}

.popup {
    min-width: 40%;
    max-width: 40%;
    // overflow: scroll;
    // text-align: center;

    border: 1px solid rgb(71, 71, 71);
    position: absolute;
    bottom: 5rem;
    right: 1rem;
    z-index: 2000;
    color: white;

    @media (max-width: 1000px) {
        min-width: 50%;
        max-width: 50%;
    }

    @media (max-width: 500px) {
        min-width: 80%;
        max-width: 80%;
        left: 2.5rem;
    }
}

.chatPickerContainer {
    text-align: center;
    border-right: 2px solid white;
}

.noPadding {
    padding: 0
}

